/* Login button */
.btn-custom {
    background-color: var(--btn-light-color);
    color: var(--font-color);
    width: 50%;
}

/* Signup link */
#signup-link a {
    padding: 0.5rem;
    background-color: var(--btn-light-color);
    color: var(--font-color);
    border-radius: 0.5rem;
    text-decoration: none;
}

/* Forgot password link */
#id_password_helptext a {
    padding: 0.5rem;
    background-color: var(--btn-light-color);
    color: var(--font-color);
    border-radius: 0.5rem;
    text-decoration: none;
}

/* Hover effect */
.btn-custom:hover,
#id_password_helptext a:hover,
#signup-link a:hover {
    background-color: var(--btn-hover);
}