/* Login button */
.btn-custom {
    background-color: var(--btn-light-color);
    color: var(--font-color);
    width: 50%;
}

.btn-custom-dark {
    background-color: var(--btn-dark-color);
    color: var(--footer-text);
}

/* Signup link */
#signup-link a {
    padding: 0.5rem;
    background-color: var(--btn-light-color);
    color: var(--font-color);
    border-radius: 0.5rem;
    text-decoration: none;
}

/* Forgot password link */
/* Signup link, Forgot password link */
#signup-link a,
#id_password_helptext a {
    padding: 0.5rem;
    background-color: var(--btn-light-color);
    color: var(--font-color);
    border-radius: 0.5rem;
    text-decoration: none;
}

/* Hover & focus effect */
.btn-custom:hover,
#id_password_helptext a:hover,
#signup-link a:hover, #signup-link a:focus {
    background-color: var(--btn-hover);
}

.btn-custom-dark:hover, .btn-custom-dark:focus {
    background-color: var(--btn-light-color);
    color: var(--font-color);
}

/* Media queries */
/* For mobile screens */
@media (max-width: 425px) {
    #id_password {
        margin-bottom: 10px;
    }
}


/* For Tablet screens */
@media (max-width: 768px) {
    #signup-link a {
        padding: 0.3rem;
    }

    #id_password_helptext {
        font-size: 11px;
        font-weight: 500;
    }
}