/* Signup button */
#login-link a {
    padding: 0.5rem;
    background-color: var(--btn-light-color);
    color: var(--font-color);
    border-radius: 0.5rem;
    text-decoration: none;
}

/* Hover & focus effect */
#login-link a:hover, #signup-link a:focus {
    background-color: var(--btn-hover);
}