@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Fonts */
    --main-font: 'Raleway', 'serif';

    /* Colors */
    --main-background: url('../images/background.png');
    --menu-color: #753F4F;
    --background: #F0EDEC;
    --footer-text: #f5f5f5;
    --font-color: #202020;
    --btn-light-color: #d8acba;
    --btn-dark-color: #854459;
    --btn-hover: #d9d7c4;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

/* Buttons */
.btn-light {
    background-color: var(--btn-light-color);
    color: var(--font-color);
    border: 1px solid var(--btn-light-color);
}

.btn-light:hover, .btn-light:focus {
    background-color: var(--btn-hover);
    border: 1px solid var(--btn-hover);
}

.btn-dark {
    background-color: var(--btn-dark-color);
    color: var(--footer-text);
    border: 1px solid var(--btn-dark-color);
}

.btn-dark:hover, .btn-dark:focus {
    background-color: var(--btn-light-color);
    color: var(--font-color);
    border: 1px solid var(--btn-light-color);
}

/* Main */
main {
    flex: 1 0 auto;
    background-image: var(--main-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.nav-item:hover,
.footer-links:hover {
    font-weight: bold;
}

/* Footer */
footer {
    background-color: var(--background);
    flex-shrink: 0;
}

#logo img {
    width: auto;
    max-height: 2rem;
}

.social-icons, .footer-text {
    height: 1rem;
    margin: .5rem;
}

footer a {
    list-style: none;
    text-decoration: none;
    color: var(--font-color);
}

/* For bigger screens */

@media screen and (min-width: 767px) {

    .footer-text {
        height: 1.5rem;
        margin: .8rem;
    }

}

@media screen and (min-width: 992px) {
    .footer-text {
        height: 2.5rem;
        margin: 1rem;
    }

    #logo img {
        max-height: 3rem;
    }
}