@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Fonts */
    --main-font: 'Raleway', 'serif';

    /* Colors */
    --main-background: url('../images/background.png');
    --menu-color: #753F4F;
    --background: #F0EDEC;
    --footer-text: #f5f5f5;
    --font-color: #202020;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

/* Navbar */
a img {
    width: 6rem;
    height: auto;
}

/* Main */
main {
    flex: 1 0 auto;
    background-image: var(--main-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

/* Footer */
footer {
    background-color: var(--background);
    flex-shrink: 0;
}

#logo img {
    width: auto;
    max-height: 3rem;
}

.social-icons, .footer-text {
    height: 1rem;
    margin: .5rem;
}

footer a {
    list-style: none;
    text-decoration: none;
    color: var(--font-color);
}

/* For bigger screens */

@media screen and (min-width: 767px) {

    .footer-text {
        height: 1.5rem;
        margin: .8rem;
    }

}

@media screen and (min-width: 992px) {

    /* footer {
        height: 6rem;
    } */

    .footer-text {
        height: 2.5rem;
        margin: 1rem;
    }

}