{% extends "base.html" %}

{% block content %}

<section class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
    <div class="text-center" style="color: var(--font-color);">
        <h1 class="display-4 fw-bold">
            Oh dear, it seems we weren't listening!
        </h1>
        <h2 class="display-5 my-4">
            400
        </h2>
        <h3 class="fs-2 mb-4">
            Bad Request
        </h3>
        <p class="fs-5">
            Please try that again.
        </p>
    </div>
</section>

{% endblock %}
