{% extends "base.html" %}

{% block content %}

<section class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
    <div class="text-center" style="color: var(--font-color);">
        <h1 class="display-4 fw-bold">
            You requested a melting server?
        </h1>
        <h2 class="display-5 my-4">
            500
        </h2>
        <h3 class="fs-2 mb-4">
            Internal Server Error
        </h3>
        <p class="fs-5">
            Apologies something went wrong. Please try again later.
        </p>
    </div>
</section>

{% endblock %}
