{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Contact form page -->
<div class="row g-0 justify-content-center">
    <div class="col-12 col-md-6 my-5" id="contact-pg">
        <h2 id="contact-heading">We love to hear from you!</h2>
        <div id="contact-description">
            <p>Do you have any suggestions?</p>
            <p>Would you like to just say hi?</p>
            <p>Please drop us a line and we will get back to as soon as we can.</p>
        </div>
        <!-- Form to be used for contacting/ordering -->
        <form id="contactForm" class="contact-form" method="post" action="{% url 'contact' %}">
            {% csrf_token %}
            {{ contact_form.non_field_errors }}
            <p id="contact-name">
                {{ contact_form.name.label_tag }}
                {{ contact_form.name }}
            </p>
            <p id="contact-email">
                {{ contact_form.email.label_tag }}
                {{ contact_form.email }}
            </p>
            <p id="contact-msg">
                {{ contact_form.message.label_tag }}
                {{ contact_form.message }}
            </p>
            <button id="contact-submit" class="btn btn-secondary btn-signup" type="submit" aria-label="Submit">Submit</button>
        </form>
    </div>
</div>

{% endblock %}
