{% extends 'base.html' %}
{% block title %}Assistant{% endblock %}
{% block content %}
<div style="position: fixed; top: 56px; left: 0; width: 100%; background-color: #f8f9fa; padding: 10px; border-bottom: 1px solid #ccc; z-index: 1000;">
    <button id="save_conversation" style="float: right;">Save conversation</button>
</div>
<h1 style="margin-top: 60px;">Welcome to the Assistant Page</h1>
<p>Ask a question to get help.</p>
{% for interaction in history %}
<div class="interaction" style="text-align: center; margin: 10px; padding: 10px; border: 1px solid #ccc;">
    <p class="user-question">You: {{ interaction.question }}</p>
    <div class="gemini-response">AI Name: {{ interaction.answer|linebreaksbr }}</div>
    <small>{{ interaction.timestamp }}</small>
</div>
{% empty %}
<p>No previous interactions.</p>
{% endfor %}
<!-- <div id="gemini_response"></div> -->
<div id="user-prompt" style="text-align: center;">
    <input type="text" id="user_input" placeholder="Ask Gemini a question..." style="width: 80%;">
    <button id="send_button">Send</button>
</div>

<script>
    const userInput = document.getElementById('user_input');
    const sendButton = document.getElementById('send_button');
    // const geminiResponse = document.getElementById('gemini_response');

    sendButton.addEventListener('click', () => {
        const question = userInput.value;
        // replace contents of user-prompt with a spinner icon
        const userPrompt = document.getElementById('user-prompt');
        userPrompt.innerHTML = '<i class="fas fa-spinner fa-spin"></i>';
        fetch('/assistant/', {  //  Use the correct URL for your view
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: `question=${encodeURIComponent(question)}`
        })
            .then(response => response.json())
            .then(data => {
                // Refresh the page
                location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
                geminiResponse.textContent = 'An error occurred.';
            });
    });

    userInput.addEventListener('keypress', (event) => {
        if (event.key === 'Enter') {
            sendButton.click();
        }
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% csrf_token %}
{% endblock %}